mixin button(text, link)
	a(class="button" href= link)&attributes(attributes) #{text}

mixin buttonPrimary(text, link)
	if link 
		a(class="button button--primary" href= link)&attributes(attributes) #{text}
	else
		a(class="button button--primary" href= '#!')&attributes(attributes) #{text}

mixin buttonForward(text, link, foo,name)
	if foo === 'submit'
		.input-wrap
			input.button.button-forward(type='submit' value=text name=name)
			i(class="fas fa-arrow-right input-arrow")
	else
		a(class="button button-forward" href= link)&attributes(attributes) #{text}
			i(class="fas fa-arrow-right")

mixin buttonMore(text, link, foo, name)
	if foo === 'submit'
		input.button.button-forward.button-more(type='submit' value=text name=name)
	else
		a(class="button button-forward button-more" href= link)&attributes(attributes) #{text}

mixin buttonEdit(text, link, foo, name)
	if foo === 'submit'
		input.button.button-edit(type='submit' value=text name=name)
	else
		a(class="button button-edit" href= link)&attributes(attributes) #{text}

mixin buttonDelete(text, link, foo, name)
	if foo === 'submit'
		input.button.button-delete(type='submit' value=text name=name)
	else
		a(class="button button-delete" href= link)&attributes(attributes) #{text}

mixin buttonSave(text, link, foo, name)
	if foo === 'submit'
		input.button.button-save(type='submit' value=text name=name)
	else
		a(class="button button-save" href='#!')&attributes(attributes) #{text}

mixin buttonEnter(text, link, foo, name)
	if foo === 'submit'
		input.button.button-enter(type='submit' value=text name=name)
	else
		a(class="button button-enter" href= link)&attributes(attributes) #{text}

mixin buttonProfile(text, link)
	a(class="button button-profile" href= link)&attributes(attributes) #{text}
