extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Кнопки большие
			
			.section-ui
				+buttonForward('Вперед →', '#!')
				hr
				+buttonMore('Подробнее', '#!')
				hr
				+buttonEdit('Редактировать', '#!')
				hr
				+buttonDelete('Удалить', '#!')
				hr
				+buttonSave('Сохранить', '#!')
				hr
				+buttonEnter('Войти', '#!')
				hr
				+buttonProfile('Профиль', '#!')
				hr
			h1 Кнопки малые
			
			.section-ui
				+buttonForward('Вперед →', '#!')(class="button-small")
				hr
				+buttonMore('Подробнее', '#!')(class="button-small")
				hr
				+buttonEdit('Редактировать', '#!')(class="button-small")
				hr
				+buttonDelete('Удалить', '#!')(class="button-small")
				hr
				+buttonSave('Сохранить', '#!')(class="button-small")
				hr
				+buttonEnter('Войти', '#!')(class="button-small")
				hr
			h1 Инпуты
			
			.section-ui
				+buttonForward('Вперед →', '', 'submit')
				hr
				+buttonMore('Подробнее', '', 'submit')
				hr
				+buttonEdit('Редактировать', '', 'submit')
				hr
				+buttonDelete('Удалить', '', 'submit')
				hr
				+buttonSave('Сохранить', '', 'submit')
				hr
				+buttonEnter('Войти', '', 'submit')

			pre.
				+buttonForward('Вперед →', '#!')
				+buttonMore('Подробнее', '#!')
				+buttonEdit('Редактировать', '#!')
				+buttonDelete('Удалить', '#!')
				+buttonSave('Сохранить', '#!')
				+buttonProfile('Профиль', '#!')

				+buttonForward('Вперед →', '#!')(class="button-small")
				+buttonMore('Подробнее', '#!')(class="button-small")
				+buttonEdit('Редактировать', '#!')(class="button-small")
				+buttonDelete('Удалить', '#!')(class="button-small")
				+buttonSave('Сохранить', '#!')(class="button-small")
				+buttonProfile('Профиль', '#!')(class="button-small")

				+buttonForward('Вперед →', '', 'submit')
				+buttonMore('Подробнее', '', 'submit')
				+buttonEdit('Редактировать', '', 'submit')
				+buttonDelete('Удалить', '', 'submit')
				+buttonSave('Сохранить', '', 'submit')
				+buttonEnter('Войти', '', 'submit')
			
			.title mixins/_buttons.pug
			pre.
				mixin button(text, link)
					a(class="button" href= link)&attributes(attributes) #{text}

				mixin buttonForward(text, link, foo)
					if foo === 'submit'
						input.button.button-forward(type='submit' value=text)
					else
						a(class="button button-forward" href= link)&attributes(attributes) #{text}

				mixin buttonMore(text, link, foo)
					if foo === 'submit'
						input.button.button-forward.button-more(type='submit' value=text)
					else
						a(class="button button-forward button-more" href= link)&attributes(attributes) #{text}

				mixin buttonEdit(text, link, foo)
					if foo === 'submit'
						input.button.button-edit(type='submit' value=text)
					else
						a(class="button button-edit" href= link)&attributes(attributes) #{text}

				mixin buttonDelete(text, link, foo)
					if foo === 'submit'
						input.button.button-delete(type='submit' value=text)
					else
						a(class="button button-delete" href= link)&attributes(attributes) #{text}

				mixin buttonSave(text, link, foo)
					if foo === 'submit'
						input.button.button-save(type='submit' value=text)
					else
						a(class="button button-save" href='#!')&attributes(attributes) #{text}

				mixin buttonEnter(text, link, foo)
					if foo === 'submit'
						input.button.button-enter(type='submit' value=text)
					else
						a(class="button button-enter" href= link)&attributes(attributes) #{text}

				mixin buttonProfile(text, link)
					a(class="button button-profile" href= link)&attributes(attributes) #{text}

